body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333333;
}

.container {
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    background-color: whitesmoke;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #000;
    
}

.header h1 {
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

.header nav ul li {
    display: inline;
}

.header nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.header nav ul li a:hover {
    text-decoration: underline;
    background-color: gray;
}

.content {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    gap: 20px;
    text-align: center;
}

.profile-photo {
    width: 300px;
    height: 400px;
    border-radius: 5%;
    object-fit: cover;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding-top: 10px;
}

figcaption {
    font-size: x-small;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about-text a {
    color: #0073e6;
    text-decoration: none;
    font-weight: bold;
}

.about-text a:hover {
    text-decoration: underline;
}

.content_pic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.win-img { float: left; width: 200px; }
.andr-img { display: block; margin: 0 auto; width: 200px;}
.apple-img { float: right; width: 200px;}

.header-services {
    text-align: center;
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #333;
    color: #fff;
}
